.body{
  background: url('/assets/toss.jpg') no-repeat center right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}

.success {
  background-color: #3adb76;
  opacity: 0.9;
  width: 20%;
  text-align: center;
  margin: auto;
}
