.edit-academy {
  margin-top: 50rem;
  margin-left: 32rem;
}
#tournament-videos {
  margin-top: 3em;
}
.videos-title {
 margin-left: 1em;
}
.academy-info {
  text-align: center;
  width: 76%;
  margin-top: 2em;
  margin-bottom: 6em;
}
.academy-info > h2 {
  text-decoration: underline;
}
#website-link:hover {
  color: #fedf00;
}
