@import url('https://fonts.googleapis.com/css?family=Corben');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

#tournament-tile {
  float: left;
  width: 80%;
  margin-left: 3em;
  margin-top: 3em;
}
.tournament-title {
  text-align: center;
}
#start-button {
  margin-left: 29.5em;
}
#delete-button {
  margin-left: 29.5em;
}
#back-button {
  margin-left: 46em;
}
.tournament-info {
  width: 16em;
  height: auto;
  margin-left: 35em;
  box-shadow: 0px 0px 60px #ffffff;
  border-radius: 5px;
  padding: 5px 5px;
  color: #ffffff;
  font-family: 'Raleway', Arial, sans-serif;
  opacity: .9;
  background-color: #000000;
}
.tournament-info, p {
  font-size: 1.2em;
  margin-top: auto;
  margin-bottom: auto;
}
.waiting-tile {
  background-color: #000000;
  width: 26em;
  box-shadow: 0px 0px 40px #ffffff;
  height: auto;
  font-family: 'Corben', cursive;
  opacity: .8;
  color: #ffffff;
  border-radius: 5px;
  margin-left: 38.5em;
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
}
.waiting-tile, h1, h2 {
  font-family: 'Corben', cursive;
}
.waiting-tile, h4 {
  font-family: 'Raleway', Arial, sans-serif;
}
.round-tile {
  text-align: center;
}
#round-tile {
  margin-top: 1.8em;
}
.entrant-tile {
  cursor: pointer;
  font-size: 1.5em;
}
.entrant-tile.winner {
  color: #032A74;
  background-color: #FDDE32;
  opacity: 0.9;
  border: solid #FDDE32;
}
.entrant-tile:hover {
  cursor: pointer;
  color: #fedf00;
}
.second {
  margin-top: 10em;
}
.advance {
  margin-left: 32em;
}
.last {
  margin-top: 15em;
}
button.entrant-tile {
  font-family: 'Raleway', Arial, sans-serif;
  border: none;
  background-color: #000000;
  border: solid #ffffff;
  border-radius: 5px;
  width: 300px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px 40px;
  display: inline-block;
  margin: 5px 0px;
  line-height: 1.5em;
  font-weight: 500;
  font-size: 1em;
  outline: none;
  position: relative;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
button.entrant-tile span {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.8;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
button.entrant-tile i {
  font-size: 28px;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 0;
  display: block;
  position: absolute;
  opacity: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.entrant-tile:before {
  border-radius: 3px;
  content: '';
  top: 3px;
  bottom: 3px;
  left: 50%;
  right: 50%;
  position: absolute;
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
button.entrant-tile:hover,
button.entrant-tile.hover {
  color: #159A3F;
}
button.entrant-tile:hover.blue,
button.entrant-tile.hover.blue {
  color: #20638f;
}
button.entrant-tile:hover.red,
button.entrant-tile.hover.red {
  color: #962d22;
}
button.entrant-tile:hover.yellow,
button.entrant-tile.hover.yellow {
  color: #a85913;
}
button.entrant-tile:hover span,
button.entrant-tile.hover span {
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.entrant-tile:hover i,
button.entrant-tile.hover i {
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.entrant-tile:hover:before,
button.entrant-tile.hover:before {
  left: 3px;
  right: 3px;
  background: #ffffff;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
button.entrant-tile:active:before {
  background: rgba(255, 255, 255, 0.7);
}
button.entrant-tile.blue {
  background-color: #20638f;
}
button.entrant-tile.red {
  background-color: #962d22;
}
button.entrant-tile.yellow {
  background-color: #a85913;
}
#winner {
  color: #FDDD32;
}
