.user-form {
  width: 50%;
  height: 80%;
  float: left;
  margin: 2em 2em;
  border-radius: .5%;
  color: #ffffff;
}
.user-form, label {
  font-size: 1.2em;
}
label {
  color: #ffffff;
}
.user-title {
  text-align: center;
  color: #ffffff;
}
.belt {
  text-align: center;
}
input:hover {
  box-shadow: 0px 0px 60px #15993F;
}
input[type=email]:focus, textarea:focus {
  box-shadow: 0px 0px 60px #15993F;
}
input[type=password]:focus, textarea:focus {
  box-shadow: 0px 0px 60px #15993F;
}
input[type=text]:focus, textarea:focus {
  box-shadow: 0px 0px 60px #15993F;
}
select:focus, textarea:focus {
  box-shadow: 0px 0px 60px #15993F;
}
select:hover {
  box-shadow: 0px 0px 60px #15993F;
}
#academy-form {
  width: 50%;
  float: left;
}
.under-buttons {
  float: left;
}
#photo-button {
  border: none;
  float: left;
  width: 85%;
}
#update-button {
  margin-left: 10rem;
}
